    :root {
      --bg-main: #0f172a;
      --bg-card: #020617;
      --text-main: #e5e7eb;
      --text-muted: #94a3b8;
      --accent: #38bdf8;
      --accent-muted: #38bdf80f;
      --hero-bg-gradient: linear-gradient(135deg, #0f172a, #020617);
    }

    [data-theme="light"] {
      --bg-main: #f8fafc;
      --bg-card: #ffffff;
      --text-main: #020617;
      --text-muted: #475569;
      --accent: #0284c7;
      --hero-bg-gradient: linear-gradient(135deg, #dadbdc, #ffffff);

    }

    body {
      font-family: 'Poppins', sans-serif;
      background-color: var(--bg-main);
      color: var(--text-main);
      transition: background-color 0.3s ease, color 0.3s ease;
      scroll-behavior: smooth;
    }

    .navbar {
      background-color: var(--bg-main);
      backdrop-filter: blur(8px);
    }

    .navbar-nav .nav-link {
      color: var(--text-muted) !important;
    }

    .navbar-brand {
      color: var(--text-main) !important;
    }

    [data-theme="light"] .navbar {
      background-color: rgba(248, 250, 252, 0.9);
      color: var(--text-main);
    }

    .hero {
      min-height: 100vh;
      margin-top: 50px;
      background: var(--hero-bg-gradient);
      display: flex;
      align-items: center;
    }

    .hero span {
      color: var(--accent);
    }
        
    

    .profile-img {
      width: 260px;
      height: 260px;
      border-radius: 50%;
      object-fit: cover;
      border: 6px solid var(--accent);
      box-shadow: 0 0 40px rgba(0,0,0,0.3);
    }

    .profile-img:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }

    section {
      padding: 30px 0;
    }

    .section-title {
      text-align: center;
      font-weight: 700;
      color: var(--accent);
      margin-bottom: 60px;
    }

    .card {
      background-color: var(--bg-card);
      border-radius: 20px;
      border: 0.1px solid var(--accent);
      padding: 25px;
      height: 100%;
      transition: transform 0.3s ease;
      color: var(--text-muted);
    }

    .card:hover {
      transform: translateY(-8px);
      transition: transform 0.3s ease;
      background-color: var(--accent-muted);
    }

    .skill-badge {
      border: 1px solid var(--accent);
      color: var(--accent);
      padding: 8px 14px;
      border-radius: 50px;
      margin: 6px;
      display: inline-block;
      font-size: 14px;
    }

    .skill-badge:hover {
      background-color: var(--accent);
      color: #ffffff;
      cursor: pointer;
      transform: scale(1.2);
      transition: transform 0.3s ease;
    }

    .timeline {
      border-left: 3px solid var(--accent);
      padding-left: 30px;
    }

    .timeline-item {
      margin-bottom: 40px;
    }

    .timeline-item h5 {
      color: #38bdf8;
      margin-bottom: 5px;
    }

    .timeline-item:hover {
        transform: translateX(10px);
        transition: transform 0.3s ease;
    }

    footer {
      background-color: var(--bg-card);
      color: var(--text-muted);
      padding: 40px 0;
      text-align: center;
    }

    .btn-custom {
      background-color: var(--accent);
      color: #ffffff;
      border-radius: 50px;
      padding: 12px 30px;
      font-weight: 600;
      border: none;
    }

    .btn-custom:hover {
      background-color: var(--accent-muted);
      color: #ffffff;
    }

    .theme-toggle {
      cursor: pointer;
      font-size: 18px;
      border: none;
      background: none;
      color: var(--text-main);
    }